In [17]:
100
100.30
True
print(10+20)
print('a')
print("b")
#print('c'+10) -> 서로의 타입을 맞춰줘야 한다.
print('c'+str(10))
print('a',100,1.2,True)

30
a
b
c10
a 100 1.2 True

참(True): TRUE, true 등은 인식하지 못한다.
거짓(False): 위와 동일.

기본적으론 print가 없어도 출력은 되지만 print를 사용하게 되면 그것을 우선, 다른 print되지 않은 값들은 출력되지 않는다.

In [13]:
print('5-(3-1) = ',5-(3-1))
print(10*2,10/2)

5-(3-1) =  3
20 5.0

파이썬에서는 변수의 타입 선언 필요 없이 모든 타입을 받아들인다. 사용시에만 타입에 주의할 것. 모든 값들은 인스턴스 값으로 해당 변수들에 참조값으로 호출되는 방식.

In [23]:
x = 2*2*2
y = x/4
z = y*y
print(z)

4.0

In [33]:
x = 2**3
x = x/4
x = x*x
print(x)

4.0

def test():
    함수에 속하는 문장등 ... \n
-> 이 때 주의할 점은 들여쓰기를 사용하지 않을 경우 함수로 취급하지 않는 것이다.

In [34]:
def greet():
    print('hello')
    print('python')

In [36]:
greet()

hello
python

In [1]:
def MH():
    print('1+2+3+4+5 =', 1+2+3+4+5)
    print('simple')
    print('python')

In [2]:
MH()

1+2+3+4+5 = 15
simple
python

In [9]:
def greet2(name, age):
    print(name, '님의 나이는', age, '살 입니다.')
    print(name+' 님의 나이는 '+str(age)+'살 입니다.')

In [10]:
greet2('홍길동', 30)

홍길동 님의 나이는 30 살 입니다.
홍길동 님의 나이는 30살 입니다.

In [11]:
def adder(num1, num2):
    add = num1 + num2
    return add

In [14]:
result = adder(1, 2)
print(result)

3

In [26]:
def a(num):
    return num*-1

In [27]:
b = a(-1)
print(b)

1

In [28]:
def c(num1, num2): 
    return (num1 + num2)/2

In [29]:
d = c(2, 4)
print(d)

3.0

변수와 함수의 이름은 소문자로 시작한다, 둘 이상의 단어를 연결할 경우 언더바를 이용한다.

In [30]:
res = input('입력: ')
print(res)
print(type(result))

입력: 100
100
<class 'int'>

In [41]:
res1 = input('입력: ')
res2 = input('입력: ')
print('두 입력의 합은 '+str(int(res1)+int(res2)))

입력: 10
입력: 20
두 입력의 합은 30

In [50]:
sum = 1
for i in range(1, 10):
    sum *= i
print(sum)

362880

In [52]:
pnum = input('입력: ')
sum = 1
for i in range(1, int(pnum)):
    sum *= i
print(sum)

입력: 5
24

반복문 => for i in range(초기값, 마지막값, 증감식) -> 초기값 0과 증감식 1은 제외가 가능하다. 또한, 초기값은 반복에 포함되지만 마지막값은 반복에 포함되지 않는다. (ex) range(1, 10, 1) => 1에서 시작하여 9번까지 1번씩 증가하여 반복한다.)

파이썬에선 증감 연산자가 존재하지 않는다.

In [16]:
rng = input()

for i in range(1, int(rng)+1):
    for j in range(1, 10):
        print(f'{i}*{j}={i*j}')
    print('-----')

2
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
-----
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
-----

In [14]:
rng = input()

for i in range(int(rng), 0, -1):
    for j in range(9, 0, -1):
        print(f'{i}*{j}={i*j}')
    print('-----')

2
2*9=18
2*8=16
2*7=14
2*6=12
2*5=10
2*4=8
2*3=6
2*2=4
2*1=2
-----
1*9=9
1*8=8
1*7=7
1*6=6
1*5=5
1*4=4
1*3=3
1*2=2
1*1=1
-----

In [3]:
c = '{}. 너의 이름은?'.format(1)
print(c)

1. 너의 이름은?

In [5]:
a, b= 1, 2
c = '{} + {} = {}'.format(a, b, a+b)
print(c)

1 + 2 = 3

In [6]:
str = '나는 {year}년 까지 {area}에 살았어요.'.format(year = 2022, area = '인천')
print(str)

나는 2022년 까지 인천에 살았어요.

In [7]:
str = '나는 {{{year}}}년 까지 {area}에 살았어요.'.format(year = 2022, area = '인천')
print(str)

나는 {2022}년 까지 인천에 살았어요.

In [2]:
my = ['Box', (24, 31)] 
'{0[0]}..{0[1]}..{1[0]}..{1[1]}'.format(*my)

'B..o..24..31'

In [5]:
d = {'toy': 'Robot', 'price': 3500} 
'toy = {0[toy]}, price = {0[price]}'.format(d)

'toy = Robot, price = 3500'

In [1]:
str = '나는 %d년 까지 %s에 살았어요.'%(2022, '인천')
print(str)

나는 2022년 까지 인천에 살았어요.

format함수를 사용하지 않을 경우 %를 사용한다.

In [12]:
str = '왼쪽 정렬 예제 |{:<20}|'.format('x') #20자릿수
print(str)
str = '오른쪽 정렬 예제 |{:>20}|'.format('x') #20자릿수
print(str)
str = '중앙 정렬 예제 |{:^20}|'.format('x') #20자릿수
print(str)

왼쪽 정렬 예제 |x                   |
오른쪽 정렬 예제 |                   x|
중앙 정렬 예제 |         x          |

In [13]:
year, area = 2022, '인천'
str = f'나는 {year}년 까지 {area}에 살았어요.'
print(str)

나는 2022년 까지 인천에 살았어요.

위의 문법은 .format와 같으나 속도는 더욱 빠른 f-string라고 한다.

In [13]:
def exp(a, b):
    return int(a)**int(b)
exp(input(), input())

2
3

8

In [10]:
def greet3(num):
    for i in range(int(num)):
        print('hi')
greet3(input())

5
hi
hi
hi
hi
hi

a/b, 몫 - 
a//b, 몫(정수) - 
a%b, 나머지

In [34]:
def bet_sum(a, b):
    sum = 0
    for i in range(a+1, b):
        sum += i
        print(i)
    print(sum)
bet_sum(2, 5)

3
4
7

In [2]:
type(3)
type(3.1)

float

파이썬에선 double는 사용하지 않는다. 대신 float을 사용.

In [3]:
for i in [1,2,3]:
    print(i, end='_')

1_2_3_

for i in [1,2,3]: \n
    print(i, 매개변수='인자')