happy와  'happy'는 다르다. 전자는 정의되지 않은 인스턴스, 후자는 정의된 인스턴스로 볼 수 있다. 단, 배열의 경우엔 []만으로도 정의될 수 있다.

In [3]:
type([1,2,3])

list

In [4]:
[1,2,[3,4],['happy']]

[1, 2, [3, 4], ['happy']]

In [6]:
#st = [1,2,3]+[4,5]
st = [1,2,3]*2
print(st)

[1, 2, 3, 1, 2, 3]

위의 경우 기존의 인스턴스를 재활용한 것이 아닌 새로운 인스턴스를 생성한 것이다.

In [7]:
len([1,2,3,4,5])

5

In [11]:
st = [1,2,3]
length = len(st)
print(length)
print(st[length-1])
print(st[-1])
st[-1] = 4
st

3
3
3

[1, 2, 4]

In [12]:
st = [1,2,3,4]
for i in range(len(st)):
    print(st[i])

1
2
3
4

In [17]:
st = [1,2,3,4]
for i in range(1, len(st)+1):
    print(st[-i])

4
3
2
1

In [21]:
st = [1,2,3,4]
for i in range(len(st)):
    st[i] += 1
print(st)

[2, 3, 4, 5]

In [20]:
st = [1,2,3,4]
#st[0], st[-1] = sr[-1], st[0]
temp = st[0]
st[0] = st[-1]
st[-1] = temp
print(st)

[4, 2, 3, 1]

In [23]:
st = [1,2,3,4,5]
stA = st[2:4] #range(2, 4)
print(stA)

[3, 4]

In [24]:
st = [1,2,3,4,5]
st[2:4] = [0,0,0,0]
print(st)

[1, 2, 0, 0, 0, 0, 5]

In [25]:
st = [1,2,3,4,5]
st[0:4] = [0,0,0,0]
print(st)

[0, 0, 0, 0, 5]

In [26]:
st = [1,2,3,4,5]
st[:] = [0] #배열의 처음부터 끝까지
print(st)

[0]

In [33]:
st = [1,2,3,4,5]
print(id(st))
st[:] = [] #리스트 전체 내용 삭제
print(st)
print(id(st))

3072474565312
[]
3072474565312

id -> 참조값 출력, 값을 확인하면 인스턴스가 들어왔을 때와 아닐 때와 다르지 않음을 알 수 있다.

In [34]:
st = [1,2,3,4,5,6]
stA = st[0:5:2] #range(5)에서 0번째 부터 2칸씩 건너뛰면서
print(stA)

[1, 3, 5]

In [36]:
st = [1,2,3,4,5]
st[1:4] = [3]
print(st)

[1, 3, 5]

In [58]:
st = [1,2,3,4,5]
#st[3:] = [3.5, 4, 5]
st[3:3] = [3.5]
print(st)

[1, 2, 3, 3.5, 4, 5]

In [43]:
st = [1,2,3,4,5]
st[1:4] = []
print(st)

[1, 5]

In [44]:
st = [1,2,3,4,5]
st[:] = []
print(st)

[]

In [59]:
st = [1,2,3,4,5,6,7,8,9,10]
stA = st[::2] # => st[0:10:2]
print(stA)

[1, 3, 5, 7, 9]

In [60]:
st = [1,2,3,4,5,6,7,8,9,10]
stA = st[1::2] # => st[1:10:2]
print(stA)

[2, 4, 6, 8, 10]

In [61]:
str = 'simple'
print(str[2])

m

In [62]:
str = 'simple'
print(str[2:5])

mpl

문자열도 리스트처럼 취급하여 값을 뽑아 낼 순 있으나 결국 문자열은 상수이기 때문에 str[0] = 't' 와 같이 값을 변경 할 순 없다.

In [64]:
str =  'happy'
for i in str:
    print(i, end = ' ')
print(len(str))

h a p p y 5

In [15]:
def sum_all(lst):
    sum = 0
    nlst = lst[:]
    for i in range(len(nlst)):
        sum += nlst[i]
    return sum

In [16]:
lst = [1,2,3,4,5]
sum_all(lst)

15

In [69]:
def sum_reverse(lst):
    nlst = lst[:]
    for i in range(len(nlst)):
        print(nlst[(i+1)*-1], end=' ')

In [73]:
lst2 = [1,2,3,4,5]
sum_reverse(lst2)

5 4 3 2 1

In [75]:
lst2 = [1,2,3,4,5]
lst2.reverse()
print(lst2)

[5, 4, 3, 2, 1]

In [71]:
lst2 = 'abc'
sum_reverse(lst2)

c b a

list.min(), .max() => 최소 최대 / list.remove(a) => 리스트에서 a를 찾아서 삭제(리턴값 없음) / list.pop(a) => 인덱스 값 a의 위치에 저장된 데이터 삭제(리턴값 존재) / list.append(a) => list 끝에 a 추가 / list.extend([a, b]) => list 끝에 [a, b]를 추가 / list.insert(a, b) => a 위치에 b를 저장, 교체가 아닌 새로운 자리를 만들어 추가하는 것. / list.clear()  => list의 내용을 전부 삭제 / list.count(a) => a가 등장하는 횟수 / list.index(a) => 처음 a가 등장하는 위치의 인덱스 값

In [143]:
def lst_push(lst):
    nlst = lst[:]
    temp = []
    for i in range(len(nlst)):
        temp.append(nlst[i])
        print(temp)

In [144]:
lst = [1,2,3,4,5]
lst_push(lst)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [116]:
def lst_pop(lst):
    nlst = lst[:]
    for i in range(len(nlst)):
        nlst.pop()
        print(nlst)

In [117]:
lst = [1,2,3,4,5]
lst_pop(lst)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [142]:
temp = []
for i in range(10):
    temp.append(i+1)
print(temp)
for j in range(len(temp)):
    temp.pop()
print(temp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [147]:
lst = [1,2,3,4,5]
#lst.clear()
lst[:] = []
print(lst)

[]

.lower() => 모든 문자를 소문자로 / .upper() => 모든 문자를 대문자로

.lstrip => 앞(왼)쪽 공백 제거 / .rstrip => 뒤(오른)쪽 공백 제거

.replace('a', 'b', c) => c번째 'a'들을 'b'로 변경(대상이 전체일 경우 c는 제외가능)

.split('a') => a를 기준으로 문자열을 쪼개 리스트에 담는다.

// 알다시피 문자열은 상수이기 때문에 변환된 인스턴스를 새롭게 넣어 새로운 참조값을 만드는 과정을 거친다.

In [165]:
def lst_split(str):
    return str.split('-')[0]

In [166]:
lst = lst_split('123456-78910')
lst

'123456'

if 조건식:  
    실행문    
elif 조건식:  
    실행문  
else:  
    실행문

and, or, not -> 논리 연산자는 사용하지 않는다.

== -> 문자열 비교는 기본, 리스트 간의 내용 비교까지 가능하다. // 결과값은 참, 거짓으로 나온다.

.find('a') => a 문자열을 찾아서 리턴값으로 참(해당 위치의 인덱스 값), 거짓(-1)을 반환한다.  
.find(찾을 문자, 시작 인덱스) : 시작 인덱스가 0일 경우 생략 가능  
.find(찾을 문자, 시작 인덱스, 마지막 인덱스) : 마지막 인덱스가 가장 마지막 인덱스일 경우 생략 가능

In [169]:
s = "Tomato spaghetti"

In [173]:
if s.find("ghe") != -1:
    print("있습니다.")
else:
    print("없습니다.")

있습니다.

In [172]:
if "ghe" in s:
    print("있습니다.")
else:   
    print("없습니다.")

있습니다.

숫자의 경우.  
True : 0이 아닌 값  
False : 0  
이 외에 비어 있는 값의 경우도 False이다, 반대의 경우는 True

In [174]:
def main(num):
    if num >= 0:
        print('>= 0')
    else:
        print('< 0')

In [177]:
main(int(input()))

5
>= 0

In [186]:
def main_2(num):
    if 1 < num < 5:
        print('1< num < 5')
    else:
        print('none')

In [187]:
main_2(int(input()))

3
1< num < 5

In [188]:
def main_3(num):
    if num < 3 or num > 10:
        print('num < 3 or num > 10')
    else:
        print('none')

In [190]:
main_3(int(input()))

11
num < 3 or num > 10

In [198]:
def main_4(num):
    if num % 2 == 0:
        if num % 3 != 0:
            print('%2')
        else:
            print('none')
    else:
        print('none')

In [199]:
main_4(int(input()))

6
none

In [3]:
def main_5(num):
    if num < 0:
        print('< 0')
    elif 0 <= num < 10:
        print('0 <= num < 10')
    elif 10 <= num < 20:
        print('10 <= num < 20')
    elif num >= 20:
        print('num >= 20')
    else:
        print('none')

In [7]:
main_5(int(input()))

15
10 <= num < 20