id(a) : a의 주소값.

for 변수 in 반복 범위:  
실행문.  
  
while 반복 조건:  
조건이 True인 경우 실행할 실행문.

In [3]:
def main():
    i = 1
    sum = 0
    while i < 11:
        sum = sum + i
        i = i + 1
    print("sum =", sum, end = ' ')
main()

sum = 55

print의 경우 여러 종류의 인자들을 받고 있는 것을 확인 할 수 있는데 다른 문자들과 달리 오버로딩의 과정 없이 여러 종류의 인자를 받을 수 있는 가변 매개 타입이다.

In [5]:
def main():
    i = 1
    sum = 0
    while sum <= 100:
        sum = sum + i
        i = i + 1
        print(i-1, "더했을 때의 합", sum, end = ' ')
        print()
main()

1 더했을 때의 합 1
2 더했을 때의 합 3
3 더했을 때의 합 6
4 더했을 때의 합 10
5 더했을 때의 합 15
6 더했을 때의 합 21
7 더했을 때의 합 28
8 더했을 때의 합 36
9 더했을 때의 합 45
10 더했을 때의 합 55
11 더했을 때의 합 66
12 더했을 때의 합 78
13 더했을 때의 합 91
14 더했을 때의 합 105

In [28]:
def test():
    num = 0
    result = 0
    while result != 63:
        num += 1
        result = 3*num/2
    print(num)
test()

42

In [30]:
def main():
    i = 0
    while True:
        print(i, end = ' ')
        i = i + 1
        if i == 20:
            break
main()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [32]:
i = 0
while i < 10:
    i = i + 1
    if i % 3 == 0: 
        continue
    print(i, end = ' ' )

1 2 4 5 7 8 10

In [33]:
for i in [1, 2]:
    for j in ['a', 'b', 'c']:
        print(j * i, end = ' ')

a b c aa bb cc

In [34]:
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
    for c in s:
        if c == 'r':
            cnt += 1
cnt

4

In [22]:
#최소 공배수
a, b = 6, 45
for i in range(max(a, b), (a*b)+1):
    if i%a == 0 and i%b ==0:
        print(i)
        break

90

a, b 중 더 큰 숫자부터 a*b의 수까지 for문을 실행한다. 이 때 더 큰 숫자부터 실행하는 이유는 a, b의 배수들 중 공통 부분을 찾는 것이기 때문에 a, b 중 작은 수부터 시작하게 되면 i가 ++1이 되면서 둘 중 큰 수에 도달할 때까지 for문이 헛돌게 되기 때문이다.

In [24]:
#최대 공약수
a, b = 42, 120
for i in range(min(a, b), 0, -1):
    if a%i == 0 and b%i == 0:
        print(i)
        break

6

a, b 중 작은 숫자부터 1까지 -1을 하면서 for문을 실행시킨다. 만약 a%i, b%i의 값이 딱 떨어지는 나머지가 없는 상태(== 0)라면 이 때 사용된 i는 a와 b의 최대 공약수가 된다.

In [29]:
num = 0
temp = []
while True:
    num+=1
    if num%2 == 0:
        if num%3 == 0:
            continue
    elif num <= 2:
        continue
    elif num > 100:
        break
    temp.append(num)
print(temp)

[2, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 98, 99, 100]

튜플이란? '값이 변하지 않는 객체'이다.  
lst = [1,2,3] -> 이것은 mutable(값이 변하는) 객체  
lst = (1,2,3) -> 이것은 immutable(값이 변하지 않는) 객체이다.  
값이 변하지 않는다는 것은 쓰기와 관련된 기능이 적용되지 않을 뿐 읽기와 관련된 기능을 상관 없다.

->튜플의 저장 데이터는 변경할 수 없지만  
frns = [('동수', 131120), ('진우', 130312), ('선영', 130904)]  
frns[0] = ('준현', 140101)  
frns  
[('준현', 140101), ('진우', 130312), ('선영', 130904)]  
->튜플을 교체하는 것은 가능하다.

In [39]:
ds = (1,2,3)
temp = []
for i in range(len(ds)):
    temp.append(ds[i])
temp

[1, 2, 3]

range(a, b, c) -> a<= 정수 < b, c만큼 증감한다.  
구간 설정시 증감의 여부를 잘 확인해야 한다.

In [46]:
list((1,2,3)) #튜플을 리스트로
list(range(1,5)) #레인지를 리스트로
list('hello') #문자열을 리스트로

['h', 'e', 'l', 'l', 'o']

In [2]:
rng = input()
for i in range(int(rng), 0, -1):
    for j in range(9, 0, -1):
        print(f'{i}*{j}={i*j}')
    break

7
7*9=63
7*8=56
7*7=49
7*6=42
7*5=35
7*4=28
7*3=21
7*2=14
7*1=7

In [26]:
tu = tuple(range(1,100+1)) + tuple(range(100-1,0,-1))
print(tu)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

print(s, sep, end)의 형태를 지니고 있으나 평소 sep, end는 숨겨진 상태이다.

In [30]:
print(1, 2, 3, sep = ' _ ', end = ' m^^m ')

1 _ 2 _ 3 m^^m

In [39]:
for i in range(3):
    print(i+1, i+2, i+3, sep = ', ')

1, 2, 3
2, 3, 4
3, 4, 5

In [41]:
def who_are_you(name, age = 0): # age의 디폴트 값은 0
    print("이름:", name)
    print("나이:", age)

In [42]:
who_are_you('제임스')
who_are_you('잔느', 29)

이름: 제임스
나이: 0
이름: 잔느
나이: 29

def who_are_you(name, age = 0): # OK  
def who_are_you(age = 0, name): # ERROR

In [58]:
def add(lst):
    for i in range(len(lst)):
        lst[i]+=1
    return lst

In [59]:
nlst = [1,2,3,4,5]
add(nlst)

[2, 3, 4, 5, 6]

In [69]:
import circle as cc #circle.py 모듈 임포트

def cir():
    ar = cc.ar_circle(5.5)
    print('원의 넓이: ', ar)
    ci = cc.ci_circle(5.5)
    print('원의 둘레: ', ci)
    
cir()

원의 넓이:  94.985
원의 둘레:  34.54

In [72]:
from circle import ar_circle, ci_circle as c_c

def cir():
    ar = ar_circle(5.5)
    print('원의 넓이: ', ar)
    ci = c_c(5.5)
    print('원의 둘레: ', ci)
    
cir()

원의 넓이:  94.985
원의 둘레:  34.54

빌트인(built-in) 함수 : import 선언 없이 언제든 호출 가능한 함수. ex) print, input, math ...

In [73]:
print

In [74]:
import math
math.fabs(-10)

10.0

In [119]:
dc = { # key(중복 불가):value(중복 가능)
'이름': '이순둥', # 값이 문자열
'나이': 19, # 값이 정수
'직업': '학생', # 값이 문자열
'키': 175.8 # 값이 실수
}

dc

{'이름': '이순둥', '나이': 19, '직업': '학생', '키': 175.8}

In [121]:
dc = {
 'x': 22,
 'x': 23,
 'x': 24
}

dc

{'x': 24}

In [124]:
dc = { #딕셔너리 참조
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

v = dc['삼다수']
v

450

In [123]:
dc = { #딕셔너리 수정
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

dc['삼다수'] = 550
dc

{'코카콜라': 900, '바나나맛우유': 750, '비타500': 600, '삼다수': 550}

In [125]:
dc = { #딕셔너리 추가
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

dc['카페라떼'] = 1300
dc

{'코카콜라': 900, '바나나맛우유': 750, '비타500': 600, '삼다수': 450, '카페라떼': 1300}

In [140]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

list(dc.keys()) #key값만 가져온다.
#dc.keys() #dict_keys(['코카콜라', '바나나맛우유', '비타500', '삼다수'])

['코카콜라', '바나나맛우유', '비타500', '삼다수']

In [151]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

list(dc.values()) #value값만 가져온다.
#dc.values() #dict_values([900, 750, 600, 450])

[900, 750, 600, 450]

딕셔너리.key(), .values()를 사용하게 되면 dict_keys, _vaiues 객체를 반환한다. 이를 .list()를 이용하게 되면 해당 객체를 바로 리스트로써 사용할 수 있게 된다.

In [152]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

list(dc.items()) #해당 딕셔너리 내의 key, value값을 가져온다.
#c.items() #dict_items([('코카콜라', 900), ('바나나맛우유', 750), ('비타500', 600), ('삼다수', 450)])

[('코카콜라', 900), ('바나나맛우유', 750), ('비타500', 600), ('삼다수', 450)]

.items()도 key(), .values()와 마찬가지로 dict_items 객체를 반환한다.

In [109]:
dc = {'새우깡':700, '콘치즈':850, '꼬깔콘':750}

if '홈런볼' not in dc:
    dc['홈런볼'] = 900

if '콘치즈' in dc:
    del dc['콘치즈']
    dc['치즈콘'] = 950

add_dc(dc)

{'새우깡': 800, '꼬깔콘': 850, '홈런볼': 1000, '치즈콘': 1050}

In [145]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

dc.get('삼다수') #해당 key값에 해당하는 value값을 가져온다.

450

In [147]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}

dc.get('코코넛', '없는 물품') #해당 key값이 존재 하지 않을 경우 '디폴트 값'을 가져온다.
#dc.get(key, default)

'없는 물품'

In [139]:
dc = {
'코카콜라': 900, 
'바나나맛우유': 750, 
'비타500': 600, 
'삼다수': 450
}
dc.clear() #해당 딕셔너리 안의 모든 요소 삭제
dc

{}

In [93]:
def add_dc(dc):
    for i in dc:
        dc[i] += 100
    return dc

다른 언어의 전역변수와 지역변수와 달리 파이썬에서는 두 변수를 철저하게 구별한다.

In [114]:
cnt = 100 #전역변수
def func():
    cnt = 0 #지역변수
    print(cnt)

func()
print(cnt)

0
100

In [115]:
cnt = 100 #전역변수
def func():
    global cnt
    cnt = 0 #지역변수
    print(cnt)

func()
print(cnt)

0
0