In [8]:
A = {'a', 'c', 'd', 'f'} # 집합 A, 이것이 set를 생성하는 기본 방법이다. 
B = {'a', 'b', 'd', 'e'} # 집합 B 

print(A - B) # A에 대한 B의 차집합, A - B 

print(A & B) # A와 B의 교집합, A ∩ B, and

print(A | B) # A와 B의 합집합, A ∪ B, or

print(A ^ B) # A와 B의 대칭 차집합(합집합에서 교집합을 뺀 것), (A-B) ∪ (B-A), xor

{'c', 'f'}
{'d', 'a'}
{'c', 'b', 'e', 'd', 'a', 'f'}
{'c', 'b', 'e', 'f'}

In [2]:
t = [3, 3, 3, 7, 7, 'z', 'z'] 
t = list(set(t)) 
# t를 가지고 set을 구성하고, 다시 그 결과로 리스트 구성
t
# 이러한 과정을 거치는 이유는 리스트 안의 중복값을 자동으로 처리해주기 때문이다.

['z', 3, 7]

In [7]:
A = frozenset(['a', 'c', 'd', 'f']) # frozenset 함수에 iterable 객체 전달해서 생성
B = frozenset(['a', 'b', 'd', 'e']) 
print(A - B)  
print(A | B)  
print(A == B) 
'a' in A 
for c in A & B: 
    print(c, end = ' ')
#frozenset은 set을 상수로 만드는 것처럼 변경이 불가능하게 만든다.

frozenset({'c', 'f'})
frozenset({'c', 'e', 'b', 'd', 'a', 'f'})
False
d a

add 원소 추가하기  
discard 원소 삭제하기  
update 다른 집합의 원소 전부 추가하기  
intersection_update, &= 다른 집합과 공통으로 있는 원소 남기기  
difference_update, -= 다른 집합이 갖는 원소 모두 삭제하기  
symmetric_difference_update, ^= 공통으로 갖지 않는 것들은 추가하고 나머지는 삭제

In [10]:
ns = [3, 1, 4, 2] 
ns.sort()
ns

[1, 2, 3, 4]

In [11]:
ns = [3, 1, 4, 2] 
ns.sort(reverse = True)
ns

[4, 3, 2, 1]

In [12]:
ns = [('Yoon', 33), ('Lee', 12), ('Park', 29)] 
def age(t): 
    return t[1] #배열의 2번째 값인 나이들이 넘어간다.
ns.sort(key = age) #매개변수 key에 함수 age를 전달
ns.sort(key = age, reverse = True)
ns

[('Lee', 12), ('Park', 29), ('Yoon', 33)]

In [33]:
ns = [('Yoon', 33), ('Lee', 12), ('Park', 29)]
ns.sort(key = lambda val : val[1], reverse = True)
ns

[('Yoon', 33), ('Park', 29), ('Lee', 12)]

In [35]:
org = [('Yoon', 33), ('Lee', 12), ('Park', 29)]
cpy = sorted(org, key = lambda t : t[1], reverse = True)
print(org)
print(cpy)
#sort함수와 다른 점은 sort함수는 원본을 건들여 내용이 변경되지만 
#sorted는 원본을 건들지 않고 리턴값으로 사본을 만들어 낸다.

[('Yoon', 33), ('Park', 29), ('Lee', 12)]

In [38]:
org = (3, 1, 2) 
cpy = tuple(sorted(org)) 
#원본과 동일한 자료형을 유지하기 위해 tuple함수로 다시 가둔다.
print(org)
print(cpy)

(3, 1, 2)
(1, 2, 3)

In [40]:
names = ['윤나은', '김현주', '장현지', '이지선', '박선주'] 
names.sort() 
dnames = {} 

i = 1
for n in names: 
    dnames[i] = n # i와 n을 각각 '키'와 '값'으로 해서 딕셔너리에 저장
    i += 1
dnames

{1: '김현주', 2: '박선주', 3: '윤나은', 4: '이지선', 5: '장현지'}

위의 방식은 하나의 결과를 위해 여러 값들을 정의 해야하기에 과정이 번거로워진다.

In [42]:
names = ['윤나은', '김현주', '장현지', '이지선', '박선주'] 
en = enumerate(names)

for n in en: 
    print(n)

(0, '윤나은')
(1, '김현주')
(2, '장현지')
(3, '이지선')
(4, '박선주')

그래서 enumerate함수(열거형 함수)를 사용함으로써 과정을 간소화 시킨다. 하지만 이 또한 파이썬스러운 코딩은 아니다.

In [43]:
names = ['윤나은', '김현주', '장현지', '이지선', '박선주']
dnames = {k : v for k, v in enumerate(sorted(names), 1)}
#딕셔너리 컴프리헨션 사용.
dnames

{1: '김현주', 2: '박선주', 3: '윤나은', 4: '이지선', 5: '장현지'}

파이썬의 딕셔너리 컴프리헨션과 열거형 함수를 같이 사용하여 처음과 비교해 많이 간소화된 모습을 볼 수 있다.

In [57]:
def quiz1(num):
    return int(num%2==0)
quiz1(1)

0

In [2]:
def quiz2(str):
    str2 = str.split('-')[1]
    return int(str2[0])

str = '641104-1034510'
quiz2(str)

1

In [1]:
quiz2 = lambda str : int(str.split('-')[1][0])

str = '641104-1034510'
quiz2(str)

1